<div class='user-info'>
  <%= image_tag @user.gravatar %>
  <h2><%= @user.name %></h2>
</div>
<%= form_for @user, format: :json, method: :put,
  remote: true, html: { class: 'form-horizontal' } do |u| %>
  <div class='control-group'>
    <%= label :email, 'Update email address', class: 'control-label' %>
    <div class='controls'>
      <%= u.text_field :email %>
    </div>
  </div>
  <div class='control-group'>
    <%= label :active, 'Active', class: 'control-label' %>
    <div class='controls'>
      <%= u.check_box :active %>
    </div>
  </div>
  <div class='control-group'>
    <div class='controls'>
      <%= u.submit 'Save', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
<hr>
<h3>Gists</h3>
<% if @gists.empty? %>
  <h5>It looks like we don't have any information on your gists yet</h5>
  <p>
  Thanks for signing up! Gist Comment Emailer runs an automated task every night 
  (12:01am PST) to pull in all your gists (including private ones), and will 
  email you all new comments.
  </p>
  <p>
  Note that this means the first email you receive will include all comments
  on all gists to date, and subsequent emails will only be the delta
  </p>

<% else %>
  <%= render @gists %>
<% end %>
